<div class="answers">

  <h1>Kérdés:</h1>
  <strong>{{ question.userName }}:</strong><br />
  <p>
    <strong>{{ question.title }}</strong><br />
    {{ question.text }}
  </p>
  <h1>Válaszok:</h1>
  <ul>
    <li *ngFor="let answer of answers">
      <strong>{{ answer.userName }}:</strong><br />
        <p>
          {{ answer.text }}
        </p>
    </li>
  </ul>

  <form [formGroup]="form" (submit)="postAnswer()">
    <textarea formControlName="answer" placeholder="Új válasz"></textarea>
    <button type="submit">Küldés</button>
  </form>

</div>
